.cardContainer {
    width: 300px;
    height: 500px;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;

}

.card-header {
    background-color: blueviolet;
    color: white;
    font-weight: 700;
}

.card-body{
    padding: 0.5rem;
    background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-social-media-elements-vector-id1216688115?k=20&m=1216688115&s=612x612&w=0&h=3sseE8vq-XIPRsv55mVU3kq4Rv1T5hhBWxQ0UogyG0w=);
}

.imgSend:active{
    transform: scale(0.9);

}

.send{
display: block;
float: right;
background-color: rgb(0, 132, 255);
color: white;
min-width: 50.01%;
border-radius: 10px;
text-align: left;
}

.received{
    display: block;
    float: left;
    background-color: rgb(102, 102, 102);
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.messageContainer{
    overflow: scroll;
    padding: 0.3rem;
}
.messageContainer::-webkit-scrollbar{
    display: none;
}

.chatIconContainer{
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 20%;
}

.chatIcon{
    width: 65px;
    height: 65px;
}
.closeIcon{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}